.admin-logo {
    padding:0;
}

.header-admin {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(85, 81, 81, 0.2);
}

.admin-sidebar {
    height: 100%;
    position: fixed;
    z-index: 3;
    & > aside {
        height: 100%;
        font-size:24px;
        background-color: var(---color-footer-bg);
    }

    &__menu {
        font-size:24px;
    }

}