.our-story {
  padding: 50px 0;
  background-color: var(---color-bg-accent);
  .our-story-heading {
    font-size: 1.6rem;
    justify-content: flex-start;
    p {
      &::after {
        margin: 0;
      }
    }
  }

  .our-story-content {
    white-space: pre-line;
    font-size: 1.4rem;
    line-height: 24px;
    color: var(---color-text-light);
  }
}

.our-kitchen {
}

.recruitment {
  margin: 40px 0;
}

.theme-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 20px;

  .theme-content {
    font-size: 1.8rem;
    line-height: 30px;
    color: var(---color-text-light);
  }

  .theme--image {
    min-height: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
