.footer {
  background-color: var(---color-footer-bg);
  padding: 32px 16px;

  .footer-heading {
    color: var(---color-footer-text);
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600px;
  }
  .footer-content {
    padding-top: 10px;
    font-size: 1.4rem;
    color: var(---color-footer-a90);
    line-height: 20px;
    margin-bottom: 20px;
  }
}
