//global variable
$color-text: var(---color-text);
$color-btn-hover: var(---color-a5);
$color-border: var(---color-primary);
$color-text-light: var(---color-text-light);
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  h3 {
    font-size: 3.2rem;
    color: #000;
  }

  .banner-content-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-btn {
      padding: 20px 80px;
      background-color: #fff;
      border: none;
      color: #000;
      font-weight: 500;
      &:hover {
        background-color: var(---color-primary);
        color: #fff;
      }
    }
  }
}

.new-product {
  margin: 40px 0;
}

.selling-products {
  .product-image {
    max-width: 100%;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(0.8);
    }
  }
  .selling-products-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;

    .selling-products-action {
      display: flex;
      margin: 18px 0;
      .btn-browse {
        color: $color-text;
        width: 40%;
        padding: 18px 0;
        font-weight: 500;
        border: 1px solid $color-border;
        text-transform: uppercase;
        &:hover {
          background-color: $color-btn-hover;
        }
      }

      &.selling-products-action--right {
        justify-content: flex-end;
      }
    }
  }
}

.no-nasties {
  margin: 40px 0;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(---color-text-light);

  .address-content {
    white-space: pre-line;
    font-size: 1.3rem;
    line-height: 2rem;
    word-spacing: 2px;
    p {
      margin-bottom: 22px;
    }
  }
}

.address-image {
  height: 728px;
  background-position: center;
  background-size: cover;
}

.forte {
  margin: 40px 0;
}

@media (max-width: 740px) {
  .address-container {
    padding-top: 20px;
  }
}
