.collection-nav {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  border: 1px solid var(---color-a20);
  padding: 8px 0;
  border-radius: 2px;

  .collection-nav-buttons {
    display: flex;
    align-items: center;
    .collection-nav-button {
      padding: 8px 18px;
      text-transform: uppercase;
      color: var(---color-text);
      border-right: 1px solid var(---color-a20);
    }
  }

  .collection-nav-layout {
    display: flex;
    align-items: center;

    .layout-button {
      padding: 8px 8px;
      cursor: pointer;
      color: var(---color-primary);
      opacity: 0.6;
    }
    .layout-button.active {
      opacity: 1;
    }
  }
}
